<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site is created by Erkin Unlu to learn server side node.js programming. It uses services from mapbox.com darksky apis.</p>
      <img class="portrait" src="./img/profile.jpg" />
    </div>
    
    {{>footer}}
  </body>
</html>
